<center><h2> <%= @recipe.title %> </h2>
<h3> Serves <%= @recipe.serving_size %> people and requires <%= @recipe.cook_time %> minutes to cook. </h3>
<br><br>
<h2><h3>Ingredient Measurements for <%= @recipe.title %></h3></h2></center>
<center>
<% if @measurements != []%>
    <% @measurements.each do |measurement| %>
      <h4><%= measurement.name %>: <%= measurement.quantity %> <%= measurement.measurement_type %></h4>
    <% end %>
<% else%>
  <h4>No Measurements to Display</h4>
<% end %>
</center>

<div class="row">
  <div class="col-md-3">
    <form action="/recipes/<%= @recipe.id %>/ingredient" method="post">
    <h3>Create New Ingredient</h3>
    <label for="ingredient_name"></label>
    <input type="text" class="form-control" name="ingredient_name" placeholder="new ingredient">
    <br>
    <button type="submit" class="btn btn-info">Create</button>
    </form>
  </div>
  <div class="col-md-9">

    <h3>Measure </h3>

    <h4>Select the first ingredient you want for this step of the recipe:
    <form action="/recipes/<%= @recipe.id %>/ingredients" method="post">

      <% if @ingredients != []%>
        <select class="form-control" name="ingredients">
          <% @ingredients.each do |ingredient| %>
          <option><%= ingredient.name %></option>
        <% end %>
        </select>
      <% end %>
      <br>
      <label for="quantity">Enter quantity of ingredient:</label><br>
      <input type="text" class="form-control" name="quantity">
      <br>
      <select class="form-control" name="measurement_type">
        <option>grams</option>
        <option>oz</option>
        <option>teaspoons</option>
        <option>tablespoons</option>
        <option>fl. oz</option>
        <option>cups</option>
      </select>
      <br><br>

      <button type="submit" class="btn btn-info">Add measurement</button>
    </form>
  </div>
</div>


<br>


<center><a class="btn btn-danger btn-lg" href="/recipes/<%=@recipe.id%>/steps">Finished Adding Ingredients: Begin Creating Recipe Steps</a></center>
